body{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 230)), url('assets/city.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
}

html, body { 
    height: 100%;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}